q.content ul,
.content ol {
}

.content b,
.b {
	font-weight: bold;
}

.content strong,
.strong {
	font-weight: bold;
}

.content p,
.p {
}

.h1,
.content h1,
.h2,
.content h2,
.h3,
.content h3,
.h4,
.content h4,
.h5,
.content h5,
.h6,
.content h6 {

}

.h1,
.content h1 {
	font-family: 'SF Pro Display';
	font-weight: bold;
	font-size: 56rem;
	line-height: 140%;

	@include large-mobile {
		font-size: 24rem;
	}
	
}

.h2,
.content h2 {
	font-family: 'SF Pro Display';
	font-weight: bold;
	font-size: 40rem;
	line-height: 140%;

	@include large-mobile {
		font-size: 24rem;
	}
}

.h3,
.content h3 {
	font-family: 'SF Pro Display';
	font-weight: 600;
	font-size: 28rem;
	line-height: 140%;

	@include large-mobile {
		font-size: 18rem;
	}
}

.h4,
.content h4 {
	font-family: 'Montserrat Alternates';
	font-weight: bold;
	font-size: 24rem;
	line-height: 140%;

	@include large-mobile {
		font-size: 20rem;
	}
}

.h5,
.content h5 {
	font-size: 18rem;
	font-family: 'Montserrat Alternates';
	font-weight: 600;
	line-height: 120%;
}

.h6,
.content h6 {
}

.p20 {
	font-size: 20rem;

	@include large-mobile {
		font-size: 16rem;
	}
}
