+b.SECTION.certificates.animateme.js-animateme
	+e.circle
		+e.car
			img(src="/img/certificates__car.png")
	+e.wrap.wrap
		+e.row.flex._justify._bottom
			+e.column._left
				+e.H2.title.h2 Документы и реквизиты
				+e.desc
					| Автоломбард «Доверие авто» всегда готов прийти на помощь автовладельцам, попавшим в трудную финансовую ситуацию. Мы предлагаем выгодные и прозрачные условия кредитования, быстро и без бюрократических формальностей заключаем сделку в полном соответствии с Федеральным законом № 353 «О потребительском кредите (займе)» от 21.12.2013.
				+btn(class="js-modal" href="#modal-loan") Оставить машину у нас
			+e.column._right
				+e.list.flex
					+e.item
						+e.A.pdf(href="#")
							+e.pdf-preview
								img.object-fit(src="/img/certificates__img1.jpg")
							+e.pdf-text
								| (
								span.color-red PDF
								| , 209Kb).
					+e.item
						+e.A.pdf(href="#")
							+e.pdf-preview
								img.object-fit(src="/img/certificates__img2.jpg")
							+e.pdf-text
								| (
								span.color-red PDF
								| , 389Kb).
					+e.item
						+e.A.pdf(href="#")
							+e.pdf-preview
								img.object-fit(src="/img/certificates__img3.jpg")
							+e.pdf-text
								| (
								span.color-red PDF
								| , 180Kb).