+b.SECTION.reviews.animateme.js-animateme
	+e.wrap.wrap
		+e.H2.title.h2 Нам доверяют
		+e.desc.color-gray Отзывы о ломбарде «Доверие авто»
		+e.slider.swiper-container.js-slider#reviews
			+e.slider-bg
			+swiper-navigation
			.swiper-wrapper
				+e.slide.swiper-slide
					+e.item
						+e.video.js-video
							+e.video-html.js-video-html
							+e.video-preview.js-video-prview(data-video='<iframe src="https://www.youtube.com/embed/8V46_T19tHQ?autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>')
								img.object-fit(src="/img/reviews__img1.jpg")
								+e.play
									+icon('play')
						+e.text
							| Анна получила кредит под залог ПТС автомобиля и продолжил на нем ездить.
				+e.slide.swiper-slide
					+e.item
						+e.video.js-video
							+e.video-html.js-video-html
							+e.video-preview.js-video-prview(data-video='<iframe src="https://www.youtube.com/embed/8V46_T19tHQ?autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>')
								img.object-fit(src="/img/reviews__img2.jpg")
								+e.play
									+icon('play')
						+e.text
							| Анна получила кредит под залог ПТС автомобиля и продолжил на нем ездить.
				+e.slide.swiper-slide
					+e.item
						+e.video.js-video
							+e.video-html.js-video-html
							+e.video-preview.js-video-prview(data-video='<iframe src="https://www.youtube.com/embed/8V46_T19tHQ?autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>')
								img.object-fit(src="/img/reviews__img3.jpg")
								+e.play
									+icon('play')
						+e.text
							| Анна получила кредит под залог ПТС автомобиля и продолжил на нем ездить.
				+e.slide.swiper-slide
					+e.item
						+e.video.js-video
							+e.video-html.js-video-html
							+e.video-preview.js-video-prview(data-video='<iframe src="https://www.youtube.com/embed/8V46_T19tHQ?autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>')
								img.object-fit(src="/img/reviews__img4.jpg")
								+e.play
									+icon('play')
						+e.text
							| Анна получила кредит под залог ПТС автомобиля и продолжил на нем ездить.
		.swiper-progress
			.swiper-progress-load
