+b.SECTION.faq
	+e.wrap.wrap
		+e.H2.title.h2 Вопросы о работе ломбарда «Доверие авто»
		+e.desc.p20.color-gray Ответы на самые популярные вопросы
		+e.list
			+e.item.js-faq-item
				+e.head.js-faq-head
					+e.item-title Как влияет кредитная история на одобрение займа в ломбарде?
					+e.icon
				+e.body.js-faq-body
					p
						| Нет. В нашем автоломбарде выдаются кредиты под паспорт транспортного средства, поэтому после того, как клиент получает наличные деньги под залог ПТС автомобиля авто остается у владельца.
			+e.item.js-faq-item
				+e.head.js-faq-head
					+e.item-title Забираете ли вы автомобиль до погашения кредита?
					+e.icon
				+e.body.js-faq-body
					p
						| Нет. В нашем автоломбарде выдаются кредиты под паспорт транспортного средства, поэтому после того, как клиент получает наличные деньги под залог ПТС автомобиля авто остается у владельца.
			+e.item.js-faq-item
				+e.head.js-faq-head
					+e.item-title Как срочно выдаются деньги под залог ПТС авто онлайн на карту?
					+e.icon
				+e.body.js-faq-body
					p
						| Нет. В нашем автоломбарде выдаются кредиты под паспорт транспортного средства, поэтому после того, как клиент получает наличные деньги под залог ПТС автомобиля авто остается у владельца.
			+e.item.js-faq-item
				+e.head.js-faq-head
					+e.item-title Как получить максимум денежных средств под залог ПТС?
					+e.icon
				+e.body.js-faq-body
					p
						| Нет. В нашем автоломбарде выдаются кредиты под паспорт транспортного средства, поэтому после того, как клиент получает наличные деньги под залог ПТС автомобиля авто остается у владельца.