+b.SECTION.steps.animateme.js-animateme
	+e.wrap.wrap
		+e.H2.title.h2 Этапы получения займа
		+e.desc.color-gray Оформление займа под залог автомобиля занимает всего 30 минут
	+e.road
		+e.img._desktop
			img(src="/app/img/road.svg")
		+e.img._mobile
			img(src="/app/img/steps_mobile.svg")
		+e.wrap.wrap
			+e.list
				+e.item
					+e.item-wrap
						+e.item-title.h4
							| Оформитe 
							br
							| онлайн-заявку
						+e.item-text.p20 или позвоните
					+e.item-circle
				+e.item
					+e.item-wrap
						+e.item-title.h4
							| Приезжайте в офис
						+e.item-text.p20 с ПТС, СТС и паспортом
					+e.item-circle
				+e.item
					+e.item-wrap
						+e.item-title.h4
							| Подписание договора
						+e.item-text.p20 с авто остается у вас
					+e.item-circle
				+e.item
					+e.item-wrap
						+e.item-title.h4
							| Получаете деньги
						+e.item-text.p20 удобным для вас способом
					+e.item-circle