+b.SECTION.approve
	+e.wrap.wrap
		+e.H2.title.h2 Одобряем максимум денег под залог ПТС
		+e.desc.p20.color-gray Требования для выдачи денег под залог ПТС
		+e.list.flex
			+e.item.item-approve__.animateme.js-animateme
				+e.img
					img(src="/img/approve__img1.png")
				+e.title.h4 К автомобилю
				+e.UL.list
					+e.LI.item
						| Авто в исправном техническом состоянии
					+e.LI.item
						| Состоит на учете в ГИБДД
					+e.LI.item
						| Не находится в залоге
					+e.LI.item
						| Возраст авто не более 25 лет
					+e.LI.item
						| Оригинал ПТС не требуется, возможен дубликат
			+e.item.item-approve__.animateme.js-animateme
				+e.img
					img(src="/img/approve__img2.png")
				+e.title.h4 К заемщику
				+e.UL.list
					+e.LI.item
						| Гражданство РФ
					+e.LI.item
						| Возраст от 18 до 70 лет
					+e.LI.item
						| Трудоустройство не&nbsp;требуется
					+e.LI.item
						| Кредитная история не имеет значения
					+e.LI.item
						| Справка о подтверждении дохода (2-НДФЛ) не требуется
			+e.item.item-approve__.animateme.js-animateme
				+e.img
					img(src="/img/approve__img3.png")
				+e.title.h4 К документам
				+e.UL.list
					+e.LI.item
						| Паспорт гражданина РФ
					+e.LI.item
						| Паспорт технического средства (ПТС)
					+e.LI.item
						| Свидетельство о регистрации транспортного средства (СТС)