+b.SECTION.services.animateme.js-animateme
	+e.wrap.wrap
		+e.head
			+e.H2.title.h2 Услуги ломбарда
			+e.desc.color-gray Наш ломбард предоставляет услуги кредитования в Москве и Московской области
		+e.list
			+e.item
				+e.bg
					img(src="/app/img/services__bg.svg")
				+e.box
					+e.number.h4 01.
					+e.content
						+e.item-title.h4 Займы под залог автомобиля
						+e.item-text
							| Залог автомобиля – быстрый и эффективный способ получить наличные в день обращения в автоломбарде. Проценты на заем вас приятно удивят.
						+e.item-bottom
							| Сумма займа: 
							span.color-red до 95% от цены авто
					+e.img
						img(src="/img/services__img1.png")
					+e.A.arrow(href="#")
			+e.item
				+e.bg
					img(src="/app/img/services__bg.svg")
				+e.box
					+e.number.h4 02.
					+e.content
						+e.item-title.h4 Залог коммерческого транспорта
						+e.item-text
							| Для того, чтобы оформить заем под залог коммерческого транспорта достаточно предоставить всего 2 документа – паспорт и ПТС или ПСМ.
						+e.item-bottom
							| Сумма займа: 
							span.color-red 15 000 000 ₽
					+e.img
						img(src="/img/services__img2.png")
					+e.A.arrow(href="#")
			+e.item
				+e.bg
					img(src="/app/img/services__bg.svg")
				+e.box
					+e.number.h4 03.
					+e.content
						+e.item-title.h4 Залог спецтехники
						+e.item-text
							| В нашем автоломбарде вы можете сделать залог спецтехники в любое время суток. Специалисты имеют необходимые навыки для оценки любых типов ТС.
						+e.item-bottom
							| Сумма займа: 
							span.color-red  до 20 000 000 ₽
					+e.img
						img(src="/img/services__img3.png")
					+e.A.arrow(href="#")
			+e.item
				+e.bg
					img(src="/app/img/services__bg.svg")
				+e.box
					+e.number.h4 04.
					+e.content
						+e.item-title.h4 Перезалог автомобиля
						+e.item-text
							| Погасим займ и проценты в стороннем ломбарде и подготовим документы на новый залог в нашем автоломбарде с более комфортным процентом.
						+e.item-bottom
							| Сумма займа: 
							span.color-red до 10 000 000 ₽
					+e.img
						img(src="/img/services__img4.png")
					+e.A.arrow(href="#")