+b.SECTION.section-contacts
	+e.bg
	+e.wrap.wrap
		+e.H2.title.h2 Контакты «Доверие авто»
		+e.desc.p20.color-gray Позвоните и наши менеджеры ответят на все ваши вопросы
		+e.list.flex
			+e.item
				+e.item-title.h4
					| Санкт-Петербург, 
					br
					| улица Бабушкина, 21
				+e.time.p20
					span.color-red Режим работы: 
					| Ежедневно, с 9:00 до 20:00
				+e.phone.p20
					span.color-red Телефон: 
					a(href="tel:+79663844848") +7 966 384 48 48
				+e.item-bottom.flex._vertical
					+e.A.btn.btn-border__._black(href="https://yandex.ru/maps/2/saint-petersburg/?from=api-maps&ll=30.381605%2C59.978366&origin=jsapi_2_1_79&pt=30.427089%2C59.89417~30.334266%2C60.030182&z" target="_blank")
						+e.SPAN.location
							+icon('location')
						+e.SPAN.text Показать на карте
					+e.messengers.messengers__
						+e.A.btn._red(href="#")
							+icon('whatsapp')
						+e.A.btn._red(href="#")
							+icon('telegram')
			+e.item
				+e.item-title.h4
					| Санкт-Петербург, Северный проспект. д.5к3
				+e.time.p20
					span.color-red Режим работы: 
					| Ежедневно, с 9:00 до 20:00
				+e.phone.p20
					span.color-red Телефон: 
					a(href="tel:+79962212141") +7 996 221 21 41
				+e.item-bottom.flex._vertical
					+e.A.btn.btn-border__._black(href="https://yandex.ru/maps/2/saint-petersburg/?from=api-maps&ll=30.381605%2C59.978366&origin=jsapi_2_1_79&pt=30.427089%2C59.89417~30.334266%2C60.030182&z" target="_blank")
						+e.SPAN.location
							+icon('location')
						+e.SPAN.text Показать на карте
					+e.messengers.messengers__
						+e.A.btn._red(href="#")
							+icon('whatsapp')
						+e.A.btn._red(href="#")
							+icon('telegram')
		+e.img
			img(src="/img/section-contacts__img.png")