+b.SECTION.why-us
	+e.wrap.wrap
		+e.row.flex._justify
			+e.column
				+e.desc.color-red Почему мы?
				+e.H2.title.h2 «Доверие авто» - гарантия поддержки в любой финансовой ситуации
			+e.column
				+e.content
					p
						| Отдавая машину под залог, мы в первую очередь ищем надёжности, а что может гарантировать надёжность больше, чем длительная история компании? Многолетний бизнес говорит не только о том, что компания крепко стоит на ногах, но также и об обширном опыте, широкой базе клиентов, как следствие — о качестве оказываемых услуг. В этом смысле «Доверие авто» опережает многих своих конкурентов.
					p
						| В отличие от своих конкурентов, автоломбард «Доверие авто» меньше всего хочет ввести клиента в заблуждение. Его цель — не лишить человека машины, а помочь ему в нелёгкий период жизни. Для этого разработаны точные и понятные договоры, в которых нет скрытых условий, могущих впоследствии привести к лишению машины или огромным выплатам, выбраны оптимальные процентные оставки — от 0,19% в день в зависимости от суммы Займа.
		+e.list.flex._justify.animateme.js-animateme
			+e.item
				+e.item-number 2017
				+e.item-text год основания
			+e.item
				+e.item-number 3800
				+e.item-text довольных клиентов
			+e.item
				+e.item-number 11250
				+e.item-text обработано заявок
			+e.item
				+e.item-number 9650
				+e.item-text выданных займов