+b.SECTION.gallery.animateme.js-animateme
	+e.wrap.wrap
		+e.list.flex
			+e.item
				+e.preview
					img.object-fit(src="/img/gallery__img1.jpg")
				+e.text Ваше авто будет в полной безопасности на нашем охраняемом паркинге
			+e.item
				+e.preview
					img.object-fit(src="/img/gallery__img2.jpg")
				+e.text Уютный и безопасный офис, где вас обслужат быстро и качественно
			+e.item
				+e.preview
					img.object-fit(src="/img/gallery__img3.jpg")
				+e.text Наши сотрудники не заставят вас ждать. Приезжайте в гости.