+b.SECTION.main.animate.js-load-animate
	+e.wrap.wrap
		+e.content
			+e.H1.title.h1 Займы под залог ПТС в Санкт-Петербурге
			+e.list.flex
				+e.item
					+e.icon
						img(src="/app/img/main__icon1.svg")
					+e.text
						| Выдача заёма за 30 минут
				+e.item
					+e.icon
						img(src="/app/img/main__icon2.svg")
					+e.text
						| Выплата 
						br
						| до 1 000 000 ₽
				+e.item
					+e.icon
						img(src="/app/img/main__icon3.svg")
					+e.text
						| Ставка 
						br
						| от 2% в месяц
				+e.item
					+e.icon
						img(src="/app/img/main__icon4.svg")
					+e.text._big
						| Автомобиль остается у вас
			+e.registry
				+e.registry-icon
					img(src="/app/img/gerb.svg")
				+e.registry-text.color-gray
					| Сведения о деятельности нашей организации внесены в государственный реестр микрофинансовых организаций.
		+e.scene
			+e.scene-bg._desktop
				img(src="/app/img/main__scene.svg")
			+e.scene-bg._mobile
				img(src="/app/img/main__scene_mobile.svg")
			+e.car
				img(src="/img/main__car.png")
+b.main-form.animate.js-load-animate
	+e.wrap.wrap
		+e.box
			+e.H3.title.h3
				| Одобрим займ 
				span.color-red в течении 5 минут
			+e.FORM.row.flex(action="/app/mail/")
				+e.column
					+field(placeholder="Ваше имя" name="name")
				+e.column
					+field(placeholder="Номер телефона" name="phone" type="tel")
				+e.column
					+btn(false) Оформить заявку