.btn-border {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: 16rem;
	font-weight: 600;
	height: 40rem;
	border-radius: 64rem;
	border: 1px solid $red;
	transition: ease .2s;
	padding: 0 24rem;
	color: $red;
	&:hover {
		background: $red;
		color: #fff;
	}
	
}