.calculator {
	margin-top: 150rem;
	overflow: hidden;
	padding-bottom: 200rem;

	@include large-mobile {
		margin-top: 60rem;
		padding-bottom: 0;
	}

	&.animateme {
		.calculator {
			&__amount, &__date, &__select {
				opacity: 0;
				transform: translateY(25rem);
				transition-duration: .4s;
				transition-timing-function: ease-in-out;
			}
			&__date {
				transition-delay: .2s;
			}
			&__select {
				transition-delay: .4s;
			}
			&__car {
				transition: ease-in-out 1s;
				opacity: 0;
				transform: translateY(50rem);
				transition-delay: .3s;
			}
			&__result-item {
				opacity: 0;
				transition-duration: .4s;
				transition-timing-function: ease-in-out;
				transform: translateX(25rem);

				&:nth-child(1) {
					transition-delay: .6s;
				}
				&:nth-child(2) {
					transition-delay: .8s;
				}
				&:nth-child(3) {
					transition-delay: 1s;
				}
			}
			&__result-bottom {
				opacity: 0;
				transform: scale(.8);
				transition-duration: .5s;
				transition-timing-function: ease-out;
				transition-delay: 1.2s;
			}
		}
		&.show {
			.calculator {
				&__amount, &__date, &__select, &__car {
					opacity: 1;
					transform: translateY(0);
				}
				&__result-item {
					opacity: 1;
					transform: translateX(0);
				}
				&__result-bottom {
					opacity: 1;
					transform: scale(1);
				}
			}
		}
	}

	&__title {
		@include large-mobile {
			text-align: center;
		}
	}

	&__desc {
		margin-top: 20rem;
		@include large-mobile {
			text-align: center;
			margin-top: 8rem;
			max-width: 284rem;
			margin-left: auto;
			margin-right: auto;
		}
	}

	&__column {
		&_left {
			width: 618rem;
		}
		&_right {
			width: 495rem;
		}

		@include small-tablet {
			&_left {
				width: 52%;
			}
			&_right {
				width: 44%;
			}
		}

		@include large-mobile {
			width: 100%;
		}
	}

	&__amount {
		margin-top: 80rem;

		@include large-mobile {
			margin-top: 32rem;
		}
	}

	&__date {
		margin-top: 32rem;
	}

	&__select {
		margin-top: 52rem;

		@include large-mobile {
			margin-top: 32rem;
		}
	}

	&__result {
		position: relative;
		background: #F8F8F8;
		border-radius: 12rem;
		padding: 60rem;
		&-wrap {
			max-width: 260rem;
			position: relative;
			z-index: 2;
		}
		&-item {
			&:not(:first-child) {
				margin-top: 32rem;
			}
		}
		&-title {
			font-size: 16rem;
			font-weight: 600;
			font-family: 'Montserrat Alternates';
		}
		&-text {
			margin-top: 8rem;
			font-size: 30rem;
		}
		&-bottom {
			margin-top: 32rem;
			padding-top: 32rem;
			border-top: 2px solid #E6E9EF;
		}
		&-btn {
			width: 100%;
			margin-top: 32rem;
		}
		&-polity {
			margin-top: 24rem;
			font-size: 12rem;
		}

		@include small-tablet {
			padding-left: 40rem;
			padding-right: 40rem;
			&-wrap {
				max-width: inherit;
			}
		}

		@include large-mobile {
			margin-top: 32rem;
			padding: 24px 16px;
			&-title {
				font-size: 14rem;
			}
			&-text {
				font-size: 24rem;
				margin-top: 4rem;
			}
			&-item {
				&:not(:first-child) {
					margin-top: 16rem;
				}
			}
			&-bottom {
				margin-top: 24px;
				padding-top: 16px;
			}
			&-btn {
				margin-top: 36px;
			}
			&-polity {
				font-size: 10rem;
				margin-top: 16px;
				max-width: 295rem;
			}
		}
	}

	&__car {
		position: absolute;
		right: -125rem;
		top: 40rem;
		width: 250rem;
		pointer-events: none;

		@include small-desktop {
			right: -90rem;
		}

		@include small-tablet {
			width: 170rem;
			right: 25rem;
			top: 10rem;
		}

		@include large-mobile(100) {
			display: none;
		}

		@include large-mobile {
			width: 106rem;
			right: 20px;
			top: 12px;
			display: block;
		}
	}
}