.faq {
	margin-top: 120rem;
	padding: 80rem 0;
	background: #F8F8F8;

	@include large-mobile {
		margin-top: 70rem;
		padding: 32px 0 16px 0;
	}

	&__desc {
		margin-top: 20rem;

		@include large-mobile {
			margin-top: 12px;
		}
	}

	&__list {
		margin-top: 48rem;
		@include large-mobile {
			margin-top: 18px;
		}
	}

	&__item {
		&:not(:last-child) {
			border-bottom: 2px solid #E6E9EF;
		}
		&-title {
			font-size: 20rem;
			font-weight: 600;
			line-height: 120%;
			font-family: 'Montserrat Alternates';
		}
		&.is-active {
			.faq {
				&__icon {
					transform: rotate(0);
					&:before, &:after {
						transform: rotate(0);
					}
				}
				&__head {
					padding-left: 23rem;
				}
			}
		}

		@include large-mobile {
			&-title {
				font-size: 15rem;
			}
			&.is-active {
				.faq {
					&__head {
						padding-left: 8px;
					}
				}
			}
		}
	}

	&__head {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 40rem 23rem 40rem 0;
		min-height: 104rem;
		cursor: pointer;
		transition: ease .2s;

		@include large-mobile {
			min-height: inherit;
			padding: 24px 0;
		}
	}

	&__body {
		margin-top: -20rem;
		max-width: 1040rem;
		margin-left: 23rem;
		display: none;
		padding-bottom: 50rem;

		@include large-mobile {
			margin-left: 8px;
			margin-top: -7px;
			padding-bottom: 24px;
			font-size: 14rem;
		}
	}

	&__icon {
		width: 28rem;
		height: 28rem;
		background: $red;
		border-radius: 5px;
		flex-shrink: 0;
		margin-left: 20rem;
		position: relative;
		transition: ease .2s;
		transform: rotate(45deg);
		&:before, &:after {
			content: '';
			display: block;
			width: 16rem;
			height: 2px;
			background: #fff;
			position: absolute;
			left: 50%;
			top: 50%;
			margin: -1px 0 0 -8rem;
			transition: ease .2s;
		}
		&:before {
			transform: rotate(45deg);
		}
		&:after {
			transform: rotate(-45deg);
		}

		@include large-mobile {
			width: 17px;
			height: 17px;
			border-radius: 3px;
			&:before, &:after {
				width: 10px;
				height: 1px;
				left: 3px;
				top: 50%;
				margin: -1px 0 0 0;
			}
		}
	}
}