+b.map.js-map#map(data-len='59.893605' data-lng='30.316207')
	//iframe(src='https://yandex.ru/map-widget/v1/?um=constructor%3A6fb8c116a9759f836c4788b9003b90a2477d653cc77be7ecca66a1a2bcc5be94&source=constructor' width='681' height='400' frameborder='0')