extends ../layouts/base

append vars
	- title = 'Home';

block content
	include ../sections/section-main
	include ../sections/section-approve
	include ../sections/section-calculator
	include ../sections/section-steps
	include ../sections/section-loan
	include ../sections/section-direction
	include ../sections/section-services
	include ../sections/section-reviews