+b.FOOTER.footer
	+e.wrap.wrap
		+e.row.flex._justify
			+e.column
				+e.A.logo(href="#")
					img(src="/app/img/logo.svg")
				+e.desc
					| Займы наличными и на карту под 
					br
					| низкий процент. Быстрое одобрение.
				+e.text.color-gray
					| Информация на сайте не является публичной офертой и носит информационно-справочный характер. 
					br
					| Услуги по выдаче займов предоставляются компаниями, имеющими лицензию ЦБ РФ.
				+e.copyright._desktop.color-gray © «Доверие авто» 2021 год.
			+e.column
				+e.title.h5 Услуги
				+e.UL.nav
					+e.LI.item
						+e.A.link(href="#") Залог автомобиля
					+e.LI.item
						+e.A.link(href="#") Залог спецтехники
					+e.LI.item
						+e.A.link(href="#") Залог грузовых авто
					+e.LI.item
						+e.A.link(href="#") Залог коммерческого транспорта
					+e.LI.item
						+e.A.link(href="#") Залог мотоцикла
					+e.LI.item
						+e.A.link(href="#") Перезалог автомобиля
					+e.LI.item
						+e.A.link(href="#") Бесплатный выезд оценщика
			+e.column
				+e.title.h5 Компания
				+e.UL.nav
					+e.LI.item
						+e.A.link(href="#") О ломбарде
					+e.LI.item
						+e.A.link(href="#") Контакты
			+e.column
				+e.section
					+e.title.h5 Звоните
					+e.contact
						+e.contact-item
							+e.A.phone(href="tel:+78125657496") +7 (812) 565-74-96
						+e.contact-item
							+e.A.phone(href="tel:+78125657521") +7 (812) 565-75-21
					+e.messengers.messengers__
						+e.A.btn._blue._big(href="#")
							+icon('telegram')
						+e.A.btn._whatsapp._big(href="#")
				+e.section
					+e.title.h5 Пишите
					+e.email
						a(href="mailto:info@doverie-avto.ru") info@doverie-avto.ru
				+e.polity.color-gray
					a(href="#") Политика конфиденциальности
		+e.copyright._mobile.color-gray © «Доверие авто» 2021 год.

		